<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #carouselExampleIndicators  {
          height:300px;
          object-fit: cover; 
        }
        /* .carousel-inner img{
        } */
      </style>
      

</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide" id="main-courousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/MHS/Hero/DEC/Mega_home_sale-Christmas-PC-2-1._CB538596365_.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://e-commerce-frontend-seven.vercel.app/assets/bannerImgThree-Dk7K_im0.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://e-commerce-frontend-seven.vercel.app/assets/bannerImgFive-BuxFOuXj.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
</body>
</html>